@import "../../vars.css";

.container{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:29px;
    z-index:1;
    margin-left:10%;
    margin-right:10%;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index:1;

}

.content span{
    color:var(--color-secondary);
}

.title{
    margin-bottom:33px;
    font-family: Open Sans, sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.1;
 
}


.description{
   margin-bottom: 52px;
   font-size: 0.7em;
    font-weight:100;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    color:var(--color-text);
}

.contactBtn{
    text-decoration: none;
    background-color: #fff;
    color:black;
    border-radius: 10px;
    font-size:15px;
    font-weight:600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}

.contactBtn:hover{
    background-color: var(--color-secondary);
    color:var(--color-text)
}

.heroImg{
width:50%;
z-index:1;
animation-name: floating;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating {
    0%{
        transform:translate(0,0px);
    }
    50%{
        transform: translate(0 , 10px);
    }
    100%{
        transform: translate(0 , 0px);

    }
}

.topBlur{
    position:absolute;
    width:50vw;
    height:50vw;
    min-width:350px;
    top: -128px;
    left:10vw;
    border-radius: 764px;
    background:black;
    filter:blur(100px);
}


.bottomBlur{
    position:absolute;
    width:70vw;
    height:50vw;
    min-width:250px;
    top: 246px;
    right:-25vw;
    border: 764px;
    background:black;
    filter:blur(100px);
}

@media screen and (max-width: 830px){
     .container{
        flex-direction:column-reverse;
     }
     .content{
        align-items:center;
     }
}